[submodule "smart-contract/fiat-backed/lib/foundry-devops"]
	path = smart-contract/fiat-backed/lib/foundry-devops
	url = https://github.com/cyfrin/foundry-devops
[submodule "smart-contract/fiat-backed/lib/forge-std"]
	path = smart-contract/fiat-backed/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "smart-contract/fiat-backed/lib/openzeppelin-contracts-upgradeable"]
	path = smart-contract/fiat-backed/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "smart-contract/fiat-backed/lib/openzeppelin-contracts"]
	path = smart-contract/fiat-backed/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "smart-contract/fiat-backed/lib/openzeppelin-foundry-upgrades"]
	path = smart-contract/fiat-backed/lib/openzeppelin-foundry-upgrades
	url = https://github.com/OpenZeppelin/openzeppelin-foundry-upgrades
